{% extends "base.html" %}


{% block title %}Registration{% endblock %}

{% block stylesheets %}{% endblock %}

{% block scripts %}
{% endblock %}

{% block header%}Register your account{% endblock %}

{% block container %}
    <div>
        <label>Email</label>
    </div>
    <div>
        <input/>

    </div>
    <div>
        <label>Password</label>
    </div>
    <div>
        <input/>
    </div>
    <div>
        <label>Password Again</label>
    </div>
    <div>
        <input/>
    </div>
    <div>
        <button type="submit">
            Register
        </button>
    </div>

{% endblock %}
