{% extends "base.html" %}

{% block title %}View my status of applicants{% endblock %}

{% block stylesheets %}{% endblock %}

{% block scripts %}
    <script src="/static/plugins/go.js"></script>
    <script src="/static/view_status.js"></script>
{% endblock %}

{% block header%}View staus of applicants{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="col-md-6">
            <!-- form start -->
            <form role="form">
                <div class="form-group">
                    <label for="job-list">Position</label>
                    <select class="form-control" id="job-list">
                        <option value="123">Google SDE</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6" id="status" style="height:400px;"></div>
    </div><!-- /.container-fluid -->
{% endblock %}