{% extends "base.html" %}

{% block title %}查看申请者{% endblock %}

{% block stylesheets %}
   <!-- DataTables -->
  <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap4.css">
      <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css">

{% endblock %}

{% block scripts %}
    <!-- date picker -->
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/template">
        <tr>
            <td><a href="http://www.baidu.com">{name}</a></td>
            <td>
                <select id="status">
                  <option value ="0">Submitted</option>
                  <option value ="1">First Interview</option>
                  <option value ="2">Second Interview</option>
                  <option value ="3">HR Interview</option>
                  <option value ="4">Accepted</option>
                  <option value ="-1">Failed First Interview</option>
                  <option value ="-2">Failed Second Interview</option>
                  <option value ="-3">Failed HR Interview</option>
                </select>
            </td>
            <td>
                <input type="text" value="{interviewer}"/>
            </td>
            <td>
                <input type="text" value="{date}" class="interview_date"/>
            </td>
            <td>
                <a class="btn btn-sm">
                  <i class="fa fa-save"></i> Save
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </td>
            <td>{applicant_id}</td>
            <td>{job_id}</td>
        </tr>
    </script>

    <script>
    function formatTemplate(dta, tmpl) {
            var format = {
                name: function(x) {
                    return x ;
                }
            };
            return tmpl.replace(/{(\w+)}/g, function(m1, m2) {
                if (!m2)
                    return "";
                return (format && format[m2]) ? format[m2](dta[m2]) : dta[m2];
            });
    }
    $(document).ready(

        function () {
            $.ajax({
                url: '/view_applicants_list/applicants_list',
                type: 'post',
                data:"",
                cache: false,
                dataType: "json",
                success: function(dta) {
                    if (!dta || !dta.rows || dta.rows.length <= 0) {
                        return;
                    }

                    //获取模板上的HTML
                    var html = $('script[type="text/template"]').html();
                    //定义一个数组，用来接收格式化合的数据
                    var arr = [];
                    //对数据进行遍历
                    $.each(dta.rows, function(i, o) {
                        //这里取到o就是上面rows数组中的值, formatTemplate是最开始定义的方法.
                        var tmp = $(html);
                        //console.log(o);
                        tmp.find("option[value=" + o["status"] + "]").attr("selected", "selected");
                        //console.log(tmp[0]);
                        //html.replace("value =\""+3+"\"", "value =\""+3+"\""+selected = "selected")
                        arr.push(formatTemplate(o, tmp[0].outerHTML));
                    });
                    //最后把数组化成字符串，并添加到table中去。
                    $('#applicants_table').children('tbody').append(arr.join(''));

                    $('#applicants_table').DataTable({
                      "paging": true,
                      "lengthChange": false,
                      "searching": true,
                      "ordering": true,
                      "info": true,
                      "autoWidth": false,
                        "columnDefs":[

                            {
                                "targets":[6],
                                "bVisible": false,
                                "bSearchable": false
                            },
                            {
                                "targets":[7],
                                "bVisible": false,
                                "bSearchable": false
                            }
                        ]
                    });
                $('.interview_date').each(function(e){
                    //console.log(this);
                    $(this).datepicker({
	                 autoclose: true,
                    format : "yyyy-mm-dd"
	                });
                });
                /*
                 $('#interview_date').datepicker({
	                 autoclose: true,
                    format : "yyyy-mm-dd"
	                });
                */
                }
            });

        }
    );

    </script>
{% endblock %}

{% block header%}查看申请者{% endblock %}

{% block container %}

      <div class="container-fluid">
        <div class="row">
            <div class="card">
            <div class="card-body">
              <table id="applicants_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Applicants Name</th>
                  <th>Status</th>
                  <th>Interviewer</th>
                  <th>Interview Time</th>
                  <th>Update</th>
                  <th>Delete</th>
                    <th>applicant_id</th>
                    <th>job_id</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
{% endblock %}